{% extends "base.html" %}

{% block title %}Études Supérieures - BSI3 Formation{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Poursuivre ses Études</h1>
    
    <div class="section">
        <h3>Options Post-Formation</h3>
        <p>Après votre formation, plusieurs voies s'offrent à vous pour poursuivre vos études :</p>
        <ul>
            <li>BTS (Brevet de Technicien Supérieur)</li>
            <li>DUT (Diplôme Universitaire de Technologie)</li>
            <li>Licence Professionnelle</li>
            <li>École d'ingénieurs</li>
        </ul>
    </div>

    <div class="section">
        <h3>Domaines de Spécialisation</h3>
        <ul>
            <li>Cybersécurité avancée</li>
            <li>Intelligence artificielle</li>
            <li>Développement web et mobile</li>
            <li>Administration des systèmes et réseaux</li>
            <li>Architecture des systèmes d'information</li>
        </ul>
    </div>
</div>
{% endblock %}
