{% extends "base.html" %}

{% block title %}SNIR - BSI3 Formation{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Formation SNIR</h1>
    <h2>Systèmes Numériques option Informatique et Réseaux</h2>
    
    <div class="section">
        <h3>Programme de Formation</h3>
        <p>La formation SNIR vous permet d'acquérir des compétences approfondies en :</p>
        <ul>
            <li>Développement d'applications</li>
            <li>Administration systèmes et réseaux</li>
            <li>Solutions embarquées</li>
            <li>Internet des objets (IoT)</li>
        </ul>
    </div>

    <div class="section">
        <h3>Perspectives Professionnelles</h3>
        <ul>
            <li>Développeur d'applications</li>
            <li>Technicien réseaux</li>
            <li>Administrateur systèmes</li>
            <li>Technicien en systèmes embarqués</li>
        </ul>
    </div>
</div>
{% endblock %}
